{
	"extends": ["eslint:recommended", "standard"],
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"sourceType": "module"
	},
  	"rules": {
		"curly": "off",
		"indent": ["error", "tab"],
		"no-console": "off",
		"no-tabs": "off",
		"space-before-function-paren": "off"
  	}
}
