{
	"extends": "eslint:recommended",
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"no-console": "off",
		"quotes": [2, "single", { "avoidEscape": true }],
		"semi": [2, "never"]
	}
}
